<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ember Email Validator</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <script type="text/x-handlebars">
    <h2>Welcome to the email validator written in Ember.js</h2>
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="index">
    <form {{action 'validate' on='submit'}}>
      <table>
        <tr>
          <td>
            Name
          </td>
          <td>
            {{input value=model.name}}
          </td>
        </tr>
        <tr>
          <td>
            Email
          </td>
          <td>
            {{input value=model.email}}
          </td>
        </tr>
      </table>
      <button type='submit'>Submit</button>
    </form>
  </script>

  <script type="text/x-handlebars" id="json">
    <div>
      <pre>
        {{model.json}}
      </pre>
    </div>
    <br>
    <button {{action 'back'}}>Back</button>
  </script>

  <script type="text/x-handlebars" id="error">
    {{message}}
    <p><button {{action 'back'}}>Back</button></p>
  </script>

  <script src="js/libs/jquery-1.10.2.js"></script>
  <script src="js/libs/handlebars-1.1.2.js"></script>
  <script src="js/libs/ember-1.7.0.js"></script>
  <script src="js/libs/ember-data.js"></script>
  <script src="js/app.js"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="tests/runner.js"></script>
</body>
</html>
